<<<<<<< HEAD
/* pasek nawigacji------------ */
=======
/* pasek nawigacji */
>>>>>>> bc9f92ab818806d5f87fd0db88fb625fb8951f43
nav .logo {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    margin-left: 8%;
flex-basis: 40%;
}
<<<<<<< HEAD
nav .menu a{
    font-family: 'Varela Round', sans-serif;   
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

/* pierwsza stronka-------------- */
=======
nav .logo p {position: relative; left: 20%;}
nav div a{
    font-family: 'Varela Round', sans-serif;   
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    display: flex;
    justify-content: flex-end space-between;
    width: calc(50%/6);
    display: inline-block;
    margin: 0px;
    height: 10%;
    font-weight: bold;

    
}
nav div {
    display: inline;
}

/* pierwsza stronka */
>>>>>>> bc9f92ab818806d5f87fd0db88fb625fb8951f43
.okno{
    width: 100vw;
    height: 100vh;
    background-image: url(/photo/splash-milk-strawberry.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.textokno{
    width: 30%;
    height: 10%;
    position: relative;
    left: 10%;
    top: 10%;

}
.getfree button{height:50px;width: 250px; background-color: rgb(255, 115, 0); font-size: x-large; box-shadow: black 2px 2px 5px; border-width: 0px; color: rgb(243, 236, 236);font-weight: 100; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-transform: uppercase; position: relative; left: 10%; top: 150px;}

/* druga stronka */
main{
    width: 100vw;
    height: 100vh;
    background-image: url(/photo/maliny.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
margin: 0;}

.maliny {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
height: 60%;
position: relative;
left: 60%;
top: 30%;
color: white;
font-size: xx-large;
}
.aboutus p {font-size: large;}

/* trzecia stronka-------- */
section {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/photo/veggies.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
section{display: inline-flex;
flex-direction: row-reverse;}

.services {margin: 0;
width: 50vw;
height: 50vw;
display: inline-flex;
align-items: center;
justify-content: center;
font-size: xx-large; color:white; font-family:'Segoe UI',Tahoma,Geneva, Verdana, sans-serif;}

/* GUZIKI 3 stronki  */

.guziki {
    width: 50vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 2%;
    
}
.box1, .box2, .box3, .box4{width: 20vw; height: 10vh;
background-color: white;
border: 1px rgba(0, 0, 0, 0.589) solid;
display: inline-flex;
align-items: flex-start;
align-items: center;
column-gap: 0.5vw;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}
.Online button , .Quality button , .Domestic button, .Organized button{border: 0ch; height: 10vh ;width:15vw; display: inline-flex; align-items: center; justify-content: center;background-color: white; border-right: solid rgba(0, 0, 0, 0.226) 1px;}

.Online i,
.Quality i,
.Domestic i,
.Organized i{font-size: 2.5rem;}

/* czwarta stronka -- GALLERY */
article {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(233, 209, 72);
    background-repeat: no-repeat;
    background-size: 100%;
display: flex; flex-direction: column;justify-content: center; align-items: center;}

.gallery{height: 20vh; width: 40vw; display: flex; flex-direction: column ;text-align: center; justify-content: center; font-size: 2rem;}